<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciddi</title>
</head>

<body>
    <p>Çevresel Etkiler: İklim değişikliği, küresel sıcaklıkların artmasına neden olur ve bu da buzulların erimesi, deniz seviyelerinin yükselmesi, aşırı hava olaylarının (kasırgalar, sel, kuraklık) artışı gibi çevresel değişikliklere yol açar. Bu değişiklikler doğal ekosistemleri etkiler ve biyolojik çeşitliliği tehdit eder.

        Ekonomik Sonuçlar: Tarım, balıkçılık, turizm ve enerji sektörleri iklim değişikliğinden doğrudan etkilenir. Kuraklıklar ve seller, tarım ürünlerinin verimliliğini düşürebilir, bu da gıda fiyatlarının artmasına ve ekonomik istikrarsızlığa neden olabilir. Ayrıca, doğal afetlerin artışı, altyapı ve sağlık sistemlerine büyük mali yükler getirebilir.
        
        Sağlık Üzerindeki Etkiler: İklim değişikliği, hava kalitesini etkileyebilir, bu da solunum yolu hastalıklarını artırabilir. Ayrıca, sıcaklıkların artışı, sıcak çarpması gibi sağlık problemlerine neden olabilir ve su kaynaklarının kirlenmesi, suyla bulaşan hastalıkların yayılma riskini artırabilir.
        
        Sosyal ve Politik Etkiler: İklim değişikliği, göç hareketlerini ve toplumsal gerilimleri artırabilir. Deniz seviyesinin yükselmesi, özellikle kıyı bölgelerindeki toplulukları tehdit edebilir ve bu da zorunlu göçlere ve toplumsal uyumsuzluklara yol açabilir.
        
        Bu nedenlerle, iklim değişikliği hem bireyler hem de toplumlar için büyük bir endişe kaynağıdır. Herkesin bu konuyla ilgili bilgi sahibi olması ve çözüm arayışlarına katkıda bulunması önemlidir. Hem bireysel hem de toplumsal düzeyde atılacak adımlar, iklim değişikliğinin etkilerini azaltmak ve daha sürdürülebilir bir gelecek sağlamak için kritik öneme sahiptir.</p>
</body>

</html>