<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etki</title>
</head>

<body>
    <p>Sera Gazları: Karbondioksit (CO2), metan (CH4) ve azot oksitler (N2O) gibi gazların atmosferde birikmesi.
        Ormansızlaşma: Ağaçların kesilmesi, karbon emilimini azaltır.
        Tarım: Metan ve azot oksit salınımı.
        Sanayi ve Enerji: Fosil yakıtların kullanımı.
        Ulaşım: Yakıtlı araçların emisyonları.
        Atık Yönetimi: Çöplerin çürümesiyle metan gazı oluşumu.
        Bu faktörler, küresel sıcaklıkların artmasına ve iklim değişikliğine neden olur.
        </p>
</body>

</html>