<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANASAYFA</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <style>
        button {
            font-size: 150px;
            background-color: seagreen;
            color: rgb(35, 30, 51);
            border-radius: 25px;
            margin: 10px;
        }


    </style>
    <h1>ANASAYFA</h1>

</head>

<body>


    <a href="/nedir">
        <button>NEDIR</button>
    </a>
    <a href="ciddi.html">
        <button>CIDDILIK</button>
    </a>
    <a href="etki.html">
        <button>ETKI</button>
    </a>
    <a href="onlem.html">
        <button>ONLEM</button>
    </a>

</body>


