<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEDİR</title>
</head>

<h1>MUNDONUN LABORATUVARINA HOŞGELDİNİZ</h1>

<body>
    <p>İklim değişikliğinin başlıca nedenleri sunlardır:




        Sera Gazları: Karbondioksit (CO2), metan (CH4) ve azot oksitler (N2O) gibi sera gazları, atmosferde birikerek sıcaklıkları artırır. Bu gazlar, fosil yakıtların (kömür, petrol, doğalgaz) yanması, tarım, ormanların kesilmesi ve endüstriyel süreçlerden salınır.
        
        Ormansızlaşma: Ağaçların kesilmesi, karbon emilimini azaltır ve atmosferdeki CO2 seviyelerini artırır. Ayrıca, ormanlar doğal iklim düzenleyicilerdir.
        
        Tarım: Tarım faaliyetleri, özellikle büyükbaş hayvancılıkla ilişkili metan salınımı ve gübre kullanımından kaynaklanan azot oksitler ile iklim değişikliğine katkıda bulunur.
        
        Sanayi ve Enerji Üretimi: Sanayi faaliyetleri ve enerji üretimi, fosil yakıtların yanı sıra diğer kirleticiler de salarak sera gazlarının artmasına yol açar.
        
        Ulaşım: Araçlar, uçaklar ve gemiler gibi ulaşım araçları, yakıt yanması yoluyla CO2 ve diğer kirleticileri atmosfere salar.
        
        Atık Yönetimi: Çöplerin uygun şekilde yönetilmemesi, özellikle organik atıkların çürüyerek metan gazı üretmesi iklim değişikliğine katkıda bulunur.
        
        Bu faktörler, atmosferdeki sera gazlarının birikmesine ve dünya genelindeki sıcaklıkların artmasına yol açar, bu da iklim değişikliğine neden olur.
        </p>
</body>

</html>