<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANASAYFA</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <style>
        button {
            font-size: 150px;
            background-color: #2ac21f;
            color: rgb(35, 30, 51);
            border-radius: 25px;
            margin: 10px;
        }
    </style>
    <center>
        <h1>ANASAYFA</h1>
    </center>
      
    
    
</head>
<body>
    
    <center>
    <a href="nedir.html">
        <button>NEDİR</button>
    </a>
    <a href="ciddi.html">
        <button>CİDDİLİK</button>
    </a>
    <a href="etki.html">
        <button>ETKİN</button>
    </a>
    <a href="onlem.html">
        <button>ÖNLEM</button>
    </a>
    </center>
    
</body>
</html>

