<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEDİR</title>
</head>
<center>
<h1 style="color: #25c01a;">MUNDONUN LABORATUVARINA HOŞGELDİNİZ</h1>
</center>
<body style="background-color:#8a139a ;">
    <center>
    
    <h3 style="color:#25c01a ;">İklim değişikliğinin başlıca nedenleri sunlardı</r:h3>



    <h3 style="color:#2ca5e1 ;">
        <br  > </br>
        Sera Gazları: Karbondioksit (CO2), metan (CH4) ve azot oksitler (N2O) gibi sera gazları, atmosferde birikerek sıcaklıkları artırır. Bu gazlar, fosil yakıtların (kömür, petrol, doğalgaz) yanması, tarım, ormanların kesilmesi ve endüstriyel süreçlerden salınır.
        <br  > </br>
    </h3>
    <h3 style="color:#2ca5e1 ;">
        Ormansızlaşma: Ağaçların kesilmesi, karbon emilimini azaltır ve atmosferdeki CO2 seviyelerini artırır. Ayrıca, ormanlar doğal iklim düzenleyicilerdir.
        <br  > </br>
    </h3>
    <h3 style="color:#2ca5e1 ;">
        Tarım: Tarım faaliyetleri, özellikle büyükbaş hayvancılıkla ilişkili metan salınımı ve gübre kullanımından kaynaklanan azot oksitler ile iklim değişikliğine katkıda bulunur.
        <br  > </br>
    </h3>
    <h3 style="color:#2ca5e1 ;">
        Sanayi ve Enerji Üretimi: Sanayi faaliyetleri ve enerji üretimi, fosil yakıtların yanı sıra diğer kirleticiler de salarak sera gazlarının artmasına yol açar.
        <br  > </br>
    </h3>
    <h3 style="color: #2ca5e1 ;">
        Ulaşım: Araçlar, uçaklar ve gemiler gibi ulaşım araçları, yakıt yanması yoluyla CO2 ve diğer kirleticileri atmosfere salar.
        <br  > </br>
    </h3>
    <h3 style="color:#2ca5e1 ;">
        Atık Yönetimi: Çöplerin uygun şekilde yönetilmemesi, özellikle organik atıkların çürüyerek metan gazı üretmesi iklim değişikliğine katkıda bulunur.
        <br  > </br>
    </h3>
    <h3 style="color:#2ca5e1 ;">
        Bu faktörler, atmosferdeki sera gazlarının birikmesine ve dünya genelindeki sıcaklıkların artmasına yol açar, bu da iklim değişikliğine neden olur.
        <br  > </br>
    </h3>
    <p style="color:#0a4e6f ;">Referans alınan ve bilgilerin bulunduğu kaynakçaların adresleri:
        <br></br>
         https://tr.wikipedia.org/wiki/Çevre_sorunları
    </p>
    </center>
        
</body>

</html>