<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onlem</title>
</head>
<center>
<h1 style="color: #25c01a;">MUNDONUN LABORATUVARINA HOŞGELDİNİZ</h1>
</center>

<body style="background-color:#8a139a ;">
    <center>
    <h3 style="color:#2ca5e1 ;">
        <br></br>
        İklim değişikliğini engellemek için atılacak adımlar çeşitli seviyelerde olabilir: bireysel, toplumsal ve politik.<br  > </br> 
       
        <br></br>
        İşte bazı etkili yöntemler:
        <br  > </br>




        <br></br>
        Bireysel Düzeyde:
        <br  > </br>
        Enerji Tasarrufu: Evde enerji tüketimini azaltmak için enerji verimli cihazlar kullanın, gereksiz ışıkları kapatın ve izolasyon yapın.
        <br  > </br>
        Yenilenebilir Enerji: Güneş veya rüzgar enerjisi gibi yenilenebilir enerji kaynaklarını tercih edin.
        <br  > </br>
        Ulaşım: Toplu taşıma kullanın, bisikletle veya yürüyerek gidilebilecek yerlere gidin, elektrikli araçları tercih edin.
        <br  > </br>
        Atık Yönetimi: Geri dönüşüm yapın, atıkları azaltın ve kompost kullanın.
        <br  > </br>
        Sustainable Tüketim: Sürdürülebilir ürünler satın alın, et tüketimini azaltın ve yerel ürünleri tercih edin.
        <br     > </br>


        <br  > </br>
        Toplumsal ve Kurumsal Düzeyde:
        <br  > </br>
        Eğitim ve Farkındalık: İklim değişikliği konusunda eğitim verin ve toplumu bilgilendirin.
        <br  > </br>
        Yeşil Teknolojiler: Enerji verimliliğini artıran ve çevre dostu teknolojilere yatırım yapın.
        <br  > </br>
        Şehir Planlaması: Yeşil alanlar oluşturun ve sürdürülebilir şehir planlama ilkelerini uygulayın.
        <br  > </br>
        Tarım ve Ormancılık: Sürdürülebilir tarım yöntemleri kullanın ve ağaç dikimi teşvik edin.
        <br  > </br>

        <br  > </br>
        Politik Düzeyde:
        <br  > </br>
        Uluslararası Anlaşmalar: Paris İklim Anlaşması gibi uluslararası anlaşmalara destek verin ve uygulamalarını takip edin.
        <br  > </br>
        Karbon Emisyonları: Karbon emisyonlarını sınırlayan yasalar ve düzenlemeler geliştirin.
        <br  > </br>
        Yatırım ve Teşvik: Yenilenebilir enerji ve çevre dostu teknolojilere yatırım yapın ve bu alanlarda teşvikler sağlayın.
        <br  > </br>
        Araştırma ve Geliştirme: İklim değişikliği ile mücadele eden araştırma ve geliştirme projelerini destekleyin.
        <br  > </br>
        Bu adımlar, iklim değişikliğinin etkilerini azaltmak ve gelecekteki sorunları önlemek için kritik öneme sahiptir. Herkesin bu konuda üzerine düşeni yapması, büyük bir fark yaratabilir.
        <br  > </br>
    </h3>
    <p style="color:#0a4e6f ;">Referans alınan ve bilgilerin bulunduğu kaynakçaların adresleri:
        <br></br>
         https://tr.wikipedia.org/wiki/Çevre_sorunları
    </p>
    </center>

</body>
</html>